[Unit]
Description=NEUSOFT ama-app-comservice service
Wants=ama-app-manager.service
After=ama-app-manager.service
# Before=unfocussed.target
# PartOf=pulseaudio.service AudioManager.service weston.service

[Service]
Type=notify
ExecStart=/usr/bin/ama-app-comservice
WatchdogSec=20
Restart=on-failure
Environment="XDG_RUNTIME_DIR=/tmp"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/var/run/dbus/session_bus_socket"
LimitCORE=infinity
RestartPreventExitStatus=SIGKILL

[Install]
WantedBy=focussed.target
