SUBSYSTEM=="input", DEVPATH=="/devices/pci0000:00/0000:00:16.0/i2c_designware.*/*", ENV{WL_SEAT}="ivi"
SUBSYSTEM=="input", DEVPATH=="/devices/pci0000:00/0000:00:16.1/i2c_designware.*/*", ENV{WL_SEAT}="rse_left"
SUBSYSTEM=="input", DEVPATH=="/devices/pci0000:00/0000:00:16.2/i2c_designware.*/*", ENV{WL_SEAT}="rse_right"
