[Unit]
Description=NEUSOFT ama-app-manager service
Wants=weston.service
After=weston.service focussed.target pmservice.service camera.service
Before=unfocussed.target
PartOf=pulseaudio.service AudioManager.service weston.service

[Service]
Type=notify
ExecStart=/usr/bin/ama-app-manager
WatchdogSec=20
Restart=on-failure
Environment="XDG_RUNTIME_DIR=/tmp"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/var/run/dbus/session_bus_socket"
LimitCORE=infinity
RestartPreventExitStatus=SIGKILL

[Install]
WantedBy=focussed.target
